<div class="footer">
	<div class="row">
		<div class="col-sm-8">
			<!-- Removed pull-left class -->
			<p>
				<small><a href="/blog/index.html" title="The blog of truth" class="footer-link"><i class="fas fa-book-reader"></i> The Blog of Truth</a></small>
			</p>
		</div>
		<div class="col-sm-4">
			<!-- Removed pull-right class -->
			<p>
				<small><a href="/pages/AboutMe.html" title="About Me" class="footer-link"><i class="fas fa-user"></i> About Me</a></small>
			</p>
		</div>
	</div>
</div>
