<div class="footer">
	<div class="row">
	<div class="col-sm-8">
		<p class="pull-left"><small><a href="/blog/index.html" title="The blog of truth">The blog of Truth</a></small></p>		
	</div>
	<div class="col-sm-8">
		<p class="pull-center"><small><a href="/blog/techblog.html" title="Tech musings">Tech musings</a></small></p>		
	</div>
	<div class="col-sm-4">			
		<p class="pull-right"><small><a href="/pages/AboutMe.html" title="About Me">About Me</a></small></p>
	</div>
	</div>
</div> <!-- /footer -->
