<div class="header">
	<ul class="nav nav-pills pull-right">		
		<li><a href="https://www.linkedin.com/in/anupam-yadav-34182513/" title="LinkedIn">LinkedIn</a></li>
		<li><a href="https://github.com/bk-anupam" title="GitHub">GitHub</a></li>		
		<li><a href="https://www.kaggle.com/bkanupam/" title="Kaggle">Kaggle</a></li>		
		<li><a href="https://stackoverflow.com/users/story/12130352/" title="StackOverflow">StackOverflow</a></li>
	</ul>
	<h3 class="text-muted"><a href="/">Anupam Yadav</a></h3>
	<h4 class="text-center">DEVELOP, LEARN, EXPLORE</h4>			
</div> <!-- /header -->
