<!DOCTYPE html>
	<html>
		<head>
			{% if site.google_analytics %}
				<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
				<script>
					window.dataLayer = window.dataLayer || [];
					function gtag(){dataLayer.push(arguments);}
					gtag('js', new Date());
					gtag('config', '{{ site.google_analytics }}');
				</script>
			{% endif %}
			<meta charset="UTF-8">
			{% seo %}
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="theme-color" content="#157878">
			<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
		</head>
		<body>
			<a id="skip-to-content" href="#content">Skip to the content.</a>
			<header class="page-header" role="banner">
			  <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
			  <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
			  <nav>
					<ul>
						<li><a href="/index.html">Home</a></li>
						<li><a href="/pages/AboutMe.html">About</a></li>					
						<li><a href="/docs/CODE_OF_CONDUCT.md">Code of conduct</a></li>
						<li><a href="https://www.linkedin.com/in/anupam-yadav-34182513/">LinkedIn</a></li>
						<li><a href="https://stackoverflow.com/users/story/12130352/">StackOverflow</a></li>
						<li><a href="https://www.kaggle.com/bkanupam/">Kaggle</a></li>
					</ul>
				</nav>
			</header>			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:bk_anupam@outlook.com">email</a></li>
	        		<li><a href="https://github.com/bk-anupam">github.com/bk-anupam</a></li>
				</ul>
			</footer>
		</body>
	</html>